# Node.js 관련
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript 빌드 결과물
*.js.map
*.d.ts

# 환경 설정 파일

# VS Code 설정 파일
.vscode/

# IDE 관련 파일
.DS_Store
Thumbs.db

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 테스트 관련
coverage/
jest-cache/

pid.txt
stop.bat
run.bat